name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to be released
        required: true
      commit:
        description: Commit to be released
        required: false

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out commit
        uses: actions/checkout@v4
        with:
          ref: "${{ github.event.inputs.commit }}"
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.22 <1.23"
      - name: Set up Mage
        uses: magefile/mage-action@v3
        with:
          version: "v1.15.0"
          install-only: true
      - name: Build Project
        run: mage build
      - name: Release
        run: gh release create ${{ github.event.inputs.version }} keexp --target ${{ github.event.inputs.commit }}
        env:
          GH_TOKEN: "${{ github.token }}"
