name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to be released
        required: true

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out ref
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.24 <1.25"
      - name: Set up just
        uses: extractions/setup-just@v3
      - name: Build executable
        run: just build
      - name: Create release
        run: gh release create ${{ github.event.inputs.version }} keexp --target ${GITHUB_REF}
        env:
          GH_TOKEN: "${{ github.token }}"
